.project-card {
  margin: auto;
  margin-bottom: 10%;
  width: 80%;
}

.portrait {
  width: 20vw;
}

.logo {
  border: 2px solid white;
  border-radius: 20%;
  height: 44px;
}

.navbar-brand {
  font-size: 1.8rem;
}

.jumbotron {
  padding-top: 48px;
  padding-bottom: 48px;
}

#logo-name {
  margin-left: 0.5rem;
  margin-right: 1rem;
}
