h1 {
	font-family: 'Lato', sans-serif, Helvetica, Georgia;
	display: inline;
}

p {
	font-family: 'Lato', Helvetica;
	font-size: 1em;
}

header {
  padding: 20px 0;
}

header nav {
  display: flex;
  float: right;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

#header {

}

#navbar {
	list-style-type: none;
}

#navbar li {
	float: right;
	display: inline;
}


.navbar-header {
	position: left;
}

.berkeley-background {
	width: 100%;
    background-image: url('https://s3.graphiq.com/sites/default/files/5307/media/images/University_of_California-Berkeley_5686897_i1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
	background-color: black;
}

.inner li {
	padding: 10px;
	background-color: white;
}

.inner li:hover {
	background-color: #D6D6D6;
}

#copyright {
	color: white;
}

#copyright p {
	margin: 20px;
}

#social-networks {
	list-style-type: none;
	display: flex;
	margin-left: 100px;
}

#social-networks li {
	margin: 20px;
}
